body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin:0;
  font-size: 90px;
  margin-top:50px;
  color:#63b7af;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color:#63b7af;
  font-size:30px;
  font-weight:normal;
  padding-bottom: 10px;
  text-decoration: none;
}
h3{
    font-family: 'Montserrat', sans-serif;
      color:#63b7af;
}

hr{
  border:dotted #d4f3ef 6px;
  border-bottom: none;
  width:5%;
  margin:100px auto;
}
a{
  color:#63b7af;
  text-decoration: none;

}
a:hover{
  color:#d4f3ef;
  padding:20px 0;
}

.copyright{
  color:#63b7af;
  font-size: 0.75rem;
}


.intro{
  width:30%;
  margin:auto;
}
p{
  line-height:2;
}


.top-container{
  background-color:#abf0e9;
  position:relative;
  padding-top:100px;
}

.middle-container{
margin:100px auto;
}

.bottom-container{
       background-color:#b4f2e1;
       padding:50px 0 20px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
}
.code-img{
  width:25%;
  float:left;
  margin-right:30px;
  margin-top:10px;
}
.devp-img{
  width:25%;
  float:right;
}

.top-comp
{
  position:absolute;
  right:250px;
  top:50px;
  width:10%;
}
.bottom-comp
{
  position:absolute;
  left:200px;
  bottom:300px;
  width:10%;
}

.contact-message{
  width:30%;
  margin: 0px auto 40px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
